.ngos-list {
  padding: 20px;
  margin-left: 17%;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.know-more{

}

.search-bar input {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ngo-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition effect */
}

/* Change background color on hover */
.ngo-card:hover {
  background-color: #f0f8ff; /* Light background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly increase shadow on hover */
}

.ngo-card h2 {
  margin-top: 0;
}

.ngo-actions {
  margin-top: 10px;
}

.ngo-actions button {
  margin-right: 10px;
}

.view-details, .donate, .visit-site,.know-more {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.view-details:hover, .donate:hover, .visit-site:hover {
  background-color: #0056b3;
}

.visit-site {
  background-color: #28a745;
}

.visit-site:hover {
  background-color: #218838;
}