/* src/App.css */
.app {
  display: flex;
}

.sidebar {
  flex-shrink: 0;
}

.content {
  margin-left: 60px;
  padding: 20px;
  width: 100%;
}

.welcome {
  text-align: center;
}

.welcome h1 {
  margin-bottom: 10px;
}

.welcome p {
  color: #555;
  
}
